NET i_HCmd(0)        LOC = "P1" ;
NET i_HCmd(1)        LOC = "P2" ;
NET i_HCmd(2)        LOC = "P3" ;
NET i_HData(0)			LOC = "P4" ;
NET i_HData(1)			LOC = "P5" ;
NET i_HData(2)			LOC = "P6" ;
NET i_HData(3)			LOC = "P7" ;
NET i_HClk				LOC = "P9" ;
NET r_Addr(0)			LOC = "P17";
NET r_Addr(1)			LOC = "P18";
NET r_Addr(2)			LOC = "P19";
NET r_Addr(3)			LOC = "P20";
NET r_Addr(4)			LOC = "P21";
NET r_Addr(5)			LOC = "P23";
NET r_Addr(6)			LOC = "P24";
NET r_Addr(7)			LOC = "P25";
NET r_Addr(8)			LOC = "P26";
NET r_Addr(9)			LOC = "P31";
NET r_Addr(10)			LOC = "P32";
NET r_Addr(11)			LOC = "P33";
NET r_Addr(12)			LOC = "P34";
NET r_Addr(13)			LOC = "P35";
NET r_Addr(14)			LOC = "P36";
NET r_Addr(15)			LOC = "P37";

NET r_Data(0)			LOC = "P39";
NET r_Data(1)			LOC = "P40";
NET r_Data(2)			LOC = "P41";
NET r_Data(3)			LOC = "P43";
NET r_Data(4)			LOC = "P44";
NET r_Data(5)			LOC = "P45";
NET r_Data(6)			LOC = "P46";
NET r_Data(7)			LOC = "P47";

NET i_TAddr(0)			LOC = "P48";
NET i_TAddr(1)			LOC = "P50";
NET i_TAddr(2)			LOC = "P51";
NET i_TAddr(3)			LOC = "P52";
NET i_TAddr(4)			LOC = "P53";
NET i_TAddr(5)			LOC = "P54";
NET i_TAddr(6)			LOC = "P55";
NET i_TAddr(7)			LOC = "P56";
NET i_TAddr(8)			LOC = "P57";
NET i_TAddr(9)			LOC = "P58";
NET i_TAddr(10)			LOC = "P61";
NET i_TAddr(11)			LOC = "P62";
NET i_TAddr(12)			LOC = "P63";
NET i_TAddr(13)			LOC = "P65";
NET i_TAddr(14)			LOC = "P66";
NET i_TAddr(15)			LOC = "P67";

NET io_TData(0)			LOC = "P68";
NET io_TData(1)			LOC = "P69";
NET io_TData(2)			LOC = "P70";
NET io_TData(3)			LOC = "P71";
NET io_TData(4)			LOC = "P72";
NET io_TData(5)			LOC = "P74";
NET io_TData(6)			LOC = "P75";
NET io_TData(7)			LOC = "P76";

