// http://www.xilinx.com/support/documentation/data_sheets/DS066.pdf

NET i_HCmd(0)        LOC = "P1" ;
NET i_HCmd(1)        LOC = "P2" ;
NET i_HCmd(2)        LOC = "P3" ;
NET i_HData(0)			LOC = "P4" ;
NET i_HData(1)			LOC = "P5" ;
NET i_HData(2)			LOC = "P6" ;
NET i_HData(3)			LOC = "P7" ;
NET i_HClk				LOC = "P9" ;
NET o_RAddr(0)			LOC = "P17";
NET o_RAddr(1)			LOC = "P18";
NET o_RAddr(2)			LOC = "P19";
NET o_RAddr(3)			LOC = "P20";
NET o_RAddr(4)			LOC = "P21";
NET o_RAddr(5)			LOC = "P23";
NET o_RAddr(6)			LOC = "P24";
NET o_RAddr(7)			LOC = "P25";
NET o_RAddr(8)			LOC = "P26";
NET o_RAddr(9)			LOC = "P31";
NET o_RAddr(10)		LOC = "P32";
NET o_RAddr(11)		LOC = "P33";
NET o_RAddr(12)		LOC = "P34";
NET o_RAddr(13)		LOC = "P35";
NET o_RAddr(14)		LOC = "P36";
NET o_RAddr(15)		LOC = "P37";

NET io_RData(0)		LOC = "P39";
NET io_RData(1)		LOC = "P40";
NET io_RData(2)		LOC = "P41";
NET io_RData(3)		LOC = "P43";
NET io_RData(4)		LOC = "P44";
NET io_RData(5)		LOC = "P45";
NET io_RData(6)		LOC = "P46";
NET io_RData(7)		LOC = "P47";

NET i_TAddr(0)			LOC = "P48";
NET i_TAddr(1)			LOC = "P50";
NET i_TAddr(2)			LOC = "P51";
NET i_TAddr(3)			LOC = "P52";
NET i_TAddr(4)			LOC = "P53";
NET i_TAddr(5)			LOC = "P54";
NET i_TAddr(6)			LOC = "P55";
NET i_TAddr(7)			LOC = "P56";
NET i_TAddr(8)			LOC = "P57";
NET i_TAddr(9)			LOC = "P58";
NET i_TAddr(10)		LOC = "P61";
NET i_TAddr(11)		LOC = "P62";
NET i_TAddr(12)		LOC = "P63";
NET i_TAddr(13)		LOC = "P65";
NET i_TAddr(14)		LOC = "P66";
NET i_TAddr(15)		LOC = "P67";

NET io_TData(0)		LOC = "P68";
NET io_TData(1)		LOC = "P69";
NET io_TData(2)		LOC = "P70";
NET io_TData(3)		LOC = "P71";
NET io_TData(4)		LOC = "P72";
NET io_TData(5)		LOC = "P74";
NET io_TData(6)		LOC = "P75";
NET io_TData(7)		LOC = "P76";

